
<% walls.each() do |wall| %>


<h1><a href="/walls-dynamic/description/<%=wall.id%>"><%= wall.title %></a></h1>
<p><%= wall.likes %> Likes
<form method = "POST" action="/likes">
	<input name="wall[id]" type="hidden" value="<%= wall.id %>" />
	<button>Like this Wall</button>
</form>

</br>
[Wall Created by: <%= wall.created_by %>]

</p>

</br></br>

<a href="/walls/delete/<%=wall.id%>">Delete Wall?</a> </br></br>  
<a href="/walls/update-form/<%=wall.id%>">Update Wall?</a>
</br></br>

<!--<h1><a href="/walls/description?wall.id=<%=wall.id%>"><%= wall.title %> </a></h1>   Query Route Method -->

<!--<li><%= wall.title %></li>  Original Line -->



<% end %>

<a href="/walls/new">Add Your Own Wall</a>










