<h1> There are <%=@walls.length %> wall(s) in the db</h1>
<% @walls.each do |wall| %>
  <h2><%= wall.title %></h2>
  <ul>
    <li><%= wall.description %></li>
    <li><%= wall.created_by %></li>
  </ul>
  <form action="/wall/<%= wall.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete">
  </form>
<% end %>

<a href="/walls/new">Add Your Own Wall</a>
